<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="..\css\styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <script type="text/javascript"
        src="https://cdn.jsdelivr.net/npm/@emailjs/browser@4/dist/email.min.js">
    </script>
    <script type="text/javascript">
        (function(){
            emailjs.init({
                publicKey: "HKoRFmyXGLYqcR7GP",
            });
        })();
    </script>
    <title>Document</title>
</head>
<body>

    <nav id="navbar">
        
    </nav>

    <div class="appointment-details">
        <form>
            <label>Name</label>
            <div>
                <input name="firstName" required placeholder="First name">
                <input name="lastName" required placeholder="Last name">
            </div>
            <label>Email address</label>
            <input name="email" required placeholder="Enter email address">
            <label>Phone Number</label>
            <input name="number" required placeholder="Enter phone number">
            <div id="details">

            </div>

            <button type="submit">Submit</button>


        </form>


    </div>



    

    <script src="..\js\main.js"></script>


    
</body>

</html>