<!--
    TO DO:

    Change calendar to only allow for bookings for next week, or next 2 weeks, etc.
    Create a system where the client can manage customer bookings (cancel, reschedule, approve)
    Create a system where the client can close down their booking system
    and change the images or prices of the items through a user interface

    -- Change images and prices of items --
    Images, prices and names of services will all be extract from a database.
    These means that if the client makes a change to a certain feature on the page, it will save and not just take place in that local session.


-->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="..\css\styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <title>Document</title>
</head>
<body>

<nav id="navbar">


    
</nav>





<script src="..\js\main.js"></script>


    
</body>

</html>