<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="..\css\styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <title>Document</title>
</head>
<body>

<nav id="navbar">
    
</nav>

<div class="photo-gallery">

    <div class="photo-item">
        <img src="..\assets\braids.jpg">    
    </div>
    <div class="photo-item">
        <img src="..\assets\styled-cornrows-f.jpg">    
    </div>
    <div class="photo-item"> 
        <img src="..\assets\loc-twists.jpg">    
    </div>
    <div class="photo-item"> 
        <img src="..\assets\cornrows.jpg">    
    </div>
    <div class="photo-item"> 
        <img src="..\assets\styled-cornrows.jpg">    
    </div>
    <div class="photo-item"> 
        <img src="..\assets\cornrows-f.jpg">    
    </div>

</div>
    
</body>
<script src="..\js\main.js"></script>
</html>